<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- For Responsive -->
	<meta charset="utf-8">
	<title>DWYT.Moe</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	@* <link rel="icon" href="img/logo.png">
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/mystyle.css"> *@
</head>
<body>
	<div class="header" style="width: 1300px;height:700px;">
		<button class="backward" onclick="history.back()"><img style="opacity:0.5" src="img/backward.png" height="25px"></button>
		<div class="row">

			<div class="col-2" style="margin:50px; ">
				<br>
				<h1>Login<br></h1>
				<form action="" method="POST">

					<div class="form-group">
						<label for="username">Username</label>
						<input class="form-control" type="text" name="username" placeholder="Username or Email" />
					</div>


					<div class="form-group">
						<label for="password">Password</label>
						<input class="form-control" type="password" name="password" placeholder="Password" />
					</div>

					<input type="submit" class="btn btn-success btn-block" name="login" value="Login" />

				</form>
			</div>
		</div>
	</div>
</body>
</html>