@page
@model ProductListModel
@{

}
@section title {
    Product List
}

<div>
    <table>
        <tr>
            <td><a href="ProductEntry">Add</a></td>
        </tr>
        <tr>
            <th style="width:150px">Product Code</th>
            <th style="width:270px">Product Name</th>
            <th style="width:75px">Quantity</th>
            <th style="width:15px"></th>
            <th style="width:100px">Price</th>
            <th>Detail</th>
        </tr>
        @foreach (var p in Model.lstProduct)
        {
            <tr>
                <td>@p.ProductCode</td>
                <td>@p.ProductName</td>
                <td style="text-align:right">@p.ProductQuantity</td>
                <td></td>
                <td>@p.Price.ToString("N")</td>
                
                <td><a href="ProductEntry?id=@p.ProductID">Edit</a></td>
            </tr>
        }
    </table>
</div>
